{
  "database": {
    "address": "",
    "name": "",
    "username": "",
    "password": "",
    "port": 0,
    "ssl": true
  },
  "discord": "",
  "gemini": "",
  "youtube": "", 
  "openAI": "", //bỏ hai dòng dưới nếu dùng cái này và ngược lại
  "openAI-azure": "", 
  "endpoint": "https://example.com" //CẤM thêm "/" vào sau cùng vì sẽ gây lỗi
}
